@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  /* .signin-left-wrapper {
    @apply bg
      background: blue;
      height: 100px;
      position: relative;
      width: 150px;
      color:white;
  }
  .signin-left-wrapper:before {
      background: blue none repeat scroll 0 0;
      content: "";
      height: 100px;
      position: absolute;
      right: -25px;
      transform: skew(-20deg);
      width: 50px;
  } */

  .auth-social-logo {
    @apply w-[44px] h-[44px]
  }
}